<div id="root"></div>
<script src="/bundle.js"></script>

<!-- ----this is the old code below------ -->

<!-- <form method='POST' action="/updatetag/579bc28191068c0519fcdf61">
  <button type="submit" id="updateButton" class="btn btn-default">Submit</button>
</form>

<form id ='colorForm' method='post'>
  <div>
    <select class="form-control" name='name'>
      <option value='GA'>GA</option>
      <option value='GC'>Google Analytics Classic</option>
      <option value='CUSTOM'>Custom Snippet</option>
      <option value='ADOBE'>ADOBE</option>
      <option value='segment'>SEGMENT</option>
      <option value='facebook'>FACEBOOK</option>
    </select>
  </div>
  <div class="form-group">
    <label>What's your A Token?</label>
    <input type="text" class="form-control" name='A_TOKEN'>
  </div>
  <div class="form-group">
    <label>What's your access Token?</label>
    <input type="text" class="form-control" name='ACCESS_TOKEN'>
  </div>
  <div class="form-group">
    <label>What's your read Token?</label>
    <input type="text" class="form-control" name='READ_TOKEN'>
  </div>
  <div class="form-group">
    <label>What's your write Token?</label>
    <input type="text" class="form-control" name='WRITE_TOKEN'>
  </div>
  <div class="form-group">
    <label>What's your pixel code?</label>
    <input type="text" class="form-control" name='PIXEL_CODE'>
  </div>
  <div class="form-group">
    <label>What's your page name?</label>
    <input type="text" class="form-control" name='pageName'>
  </div>
  <div class="form-group">
    <label>What's your event name?</label>
    <input type="text" class="form-control" name='eventName'>
  </div>
  <div>
    <select class="form-control" name='trackingTrigger'>
      <option value='onTrigger,inHeader'>In header</option>
      <option value='onTrigger,onPageLoad'>On page load</option>
      <option value = 'onTrigger,GA'>GA</option>
      <option value = 'onTrigger,ADOBE'>ADOBE</option>
      <option value = 'onTrigger,onPageLoad'>On Page Load</option>
      <option value = 'onEvent,shopping_cart'>On Event</option>
      <option value = 'onTrigger,amplitude'>Amplitude</option>
    </select>
  </div>
  <div>
    <select class="form-control" name='active'>
      <option value='true'>Active</option>
      <option value='false'>Disabled</option>
    </select>
  </div>
  <div class="form-group">
  <label for="comment">Enter your own snippet</label>
  <textarea name="custom" class="form-control" rows="5" id="comment"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form> -->
