<a href='https://app.optimizely.com/oauth2/authorize?client_id=6671940225&redirect_uri=https://blooming-beyond-37504.herokuapp.com/redirect&response_type=token&scopes=all&state=somesecurestate'>
  <img src='/images/button.png' height='50px'>
</a>

<form id ='colorForm' method='post'>
  <div class="form-group">
    <label for="exampleInputEmail1">What's your tracking ID?</label>
    <input type="text" class="form-control" name='trackingID'>
  </div>
  <div>
    <select class="form-control" name='trackingTrigger'>
      <option value='inHeader'>In header</option>
      <option value='onPageLoad'>On page load</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
