<form method='post'>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name='type'>
  </div>
  <div class="form-group">
    <label>Description of the Tag</label>
    <input type="text" class="form-control" name='tagDescription'>
    <label>Fields:</label>
    <label>Name of Field:</label>
    <input type="text" class="form-control" name='fieldName'>
    <label>Description of Field:</label>
    <input type="text" class="form-control" name='fieldDescription'>
  </div>
  <div class="form-group">
  <label for="comment">Enter your own snippet</label>
  <textarea name="snippet" class="form-control" rows="5" id="snippet"></textarea>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
