<form id ='colorForm' method='post'>
  //enter code snippets
  //input token
  //input a callback
  <div class="form-group">
    <label>Enter display name for snippet:</label>
    <input type="text" class="form-control" name='displayName'>
  </div>
  <div class="form-group">
    <label>Enter type for snippet (no spaces):</label>
    <input type="text" class="form-control" name='type'>
  </div>
  <div class="form-group">
    <label>Enter description for snippet:</label>
    <input type="text" class="form-control" name='description'>
  </div>
  <div class="form-group">
    <label>Enter a token name, code 123456789:</label>
    <input type="text" class="form-control" name='tokenName'>
  </div>
  <div class="form-group">
    <label>Enter a token display name, code 123456789:</label>
    <input type="text" class="form-control" name='tokenDisplayName'>
  </div>
  <div class="form-group">
    <label>Enter a token description, code 123456789:</label>
    <input type="text" class="form-control" name='tokenDescription'>
  </div>
  <label>Is it callbackable?:</label>
  <select class="form-control" name='usingOurCallback'>
    <option value='true'>Yes</option>
    <option value='false'>No</option>
  </select>
  <div class="form-group">
    <label>What are we looking for?:</label>
    <input type="text" class="form-control" name='checkFor'>
  </div>
  <label>What type should it be when ready?:</label>
  <select class="form-control" name='checkForType'>
    <option value='function'>function</option>
    <option value='object'>object</option>
  </select>
  <div class="form-group">
  <label for="comment">Enter your code</label>
  <textarea name="custom" class="form-control" rows="5" id="comment"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
